body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.setup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setup-box {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 100%;
    margin: 5px 0;
    padding: 6px;
}

/* SCOREBOARD */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #111827;
}

.team {
    width: 30%;
    text-align: center;
}

.score {
    font-size: 70px;
    font-weight: bold;
}

.buttons button {
    margin: 3px;
}

.center {
    text-align: center;
}

#timer {
    font-size: 28px;
}

.bonus {
    color: yellow;
    display: none;
}

/* TIMELINE */
.timeline {
    height: 120px;
    overflow-y: auto;
    background: #1e293b;
    padding: 10px;
}

/* PLAYERS */
.players-section {
    display: flex;
    justify-content: space-around;
}

.team-players {
    width: 45%;
}

.player-card {
    background: #1e293b;
    margin: 5px;
    padding: 8px;
}

.out {
    background: red;
}